<title>Sz.ly - Shorten urls</title>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="background-image"></div>
<div class="main_container" >
<div class="header">
    <ul class="navigation">
        <li class="sign_in">Sign in</li>
        <li class="about_us">About</li>
    </ul>
</div>
<div class="home_container">
    <div class="main_content" >
        <h1 class="grid-100 centre">
            <span class="main_text">Welcome to Szly {{param}} </span>
        </h1>

        <form name="shorten_url" id="shorten_url" class="grid-10 centre">
            <input class="main_textbox grid-7" type="text" placeholder="www.stayzilla.com" autocomplete="off"
                   autosuggest="off" autocorrect="off" name="url" id="input_url">
            <input class="main_button grid-3" type="button" id="shortenUrl" value="Shorten">
        </form>
        <div id="result_container" class="centre"><a id="short_id" href="#"></a></div>
    </div>
</div>
<div class="footer">
    <ul class="navigation">
        <li class="contact_us">Contact us</li>
        <li class="feedback">Post your feedback</li>
    </ul>
</div>
</div>
<script type="text/javascript" src="javascripts/vendors/zepto.min.js"></script>
<script type="text/javascript" src="javascripts/home.js"></script>