
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.background-image{
    -webkit-filter: blur(8px) grayscale(0.6);
    z-index: -1;
}

.main_text{
    color: #2996FF;
}

a {
  color: #00B7FF;
}

.home_container{
    /*background: #00B7FF;*/
    height: 100%;
    width: 100%;
}
.main_content{
    width: 60%;
    height: 40%;
    position: absolute;
    top:0;
    bottom: 0;
    left: -16%;
    right: 0;
    margin: auto;
    margin-left: 35%;
}

.header{
    float: right;
}

.footer{
    float: right;
}

.navigation {
    margin:0;
    padding:0;
}

.navigation li {
    display:inline;
    padding:15;
    margin:0;
}

.navigation li:hover{
    text-decoration: underline;
    cursor: pointer;
}

#result_container a{
    color: #a9db80;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2em;
}
.main_textbox:focus{
    border-style: solid;
    border:1px solid #8bcf54;
}
.main_textbox {
    border:1px solid #8bcf54;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:inherit;
    font-family:inherit;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    color: inherit;
}

.main_button{
    border:1px solid #8bcf54;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size:inherit;
    font-family:inherit;
    padding: 10px 10px 10px 10px;
    color: inherit;
    border-radius: 3px;
    text-decoration:none;
    display:inline-block;
    background-color: #ffffff;
    -o-transition: 1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.main_button:hover{
    cursor: pointer;
    color: #ffffff;
    border:1px solid #74bf36;
    -o-transition: 1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
    background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
    background-image: linear-gradient(to bottom, #8ed058, #7bb64b);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);

}

.centre{
    text-align: center;
}
.grid-10{
    width: 100%;
}
.grid-7{
    width: 69%;
}
.grid-3{
    width: 29%;
}
